/* FONTS */

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* COLORS  */

:root {
    --light-grey: #a9a7a7;
    --light-blue: #8EDAFC;

}


.light_blue {
    color: var(--light-blue);
}

.lightgrey {
    color:  var(--light-grey);
}


/* STYLE/GENERAL */

a {
    color: black !important;
}

/* App Background */
main {
    background: rgb(219,219,210);
    background: linear-gradient(180deg, rgba(0,150,136,1) 19%, rgba(218,219,210,1) 19%);
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Main container */
#my_container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #EAEAEA;
    padding: 0;
}

/* Left Side */
.left_side_container {
    max-width: 40% !important;
    border-right: 1px solid var(--light-grey);
}

.top_bar {
    height: 70px;
}


/* Icons style */
.icons {
    font-size: larger;
    padding: 8px;
}

.my_icon_img {
    width: 50px;
    border-radius: 50px;
}

.icons_img_container {
    padding-right: 3px;
}

.icons_img {
    width: 60px;
    border-radius: 50px;
}

#notifications_icon {
    width: 50px;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
}

.notifications_bar {
    background-color: var(--light-blue);
}

.smaller_text {
    font-size: smaller;
}

.search_bar {
    width: 450px !important;
}

.form-control {
    border: 0 !important;
    box-shadow: none !important;
}

.chat_container {
    background-color: white;
    height: 640px;
    overflow: scroll;
}

.single_chat {
    max-height: 80px;
}

.date_flex {
    width: 100%;
}



/* Right Side */
.right_side_container {

}